.job_card {
  width: 500px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: right;
}

.job_title {
  display: flex;
  gap: 20px;
  font-size: 1.4rem;
}

.job_date {
  font-size: 0.9rem;
}

.job_description {
  margin: 20px;
}

.job_skills_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 50%;

  font-size: 0.8rem;
}
