#Project {
  padding-bottom: 50px;
}

.icons_container svg {
  width: 40px;
  height: 40px;
  fill: white;
}

.icons_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icons {
  display: flex;
  gap: 10px;
}

.icons svg {
  width: 20px;
  height: 20px;
  fill: grey;
}

.icons svg:hover {
  width: 20px;
  height: 20px;
  fill: white;
}

.project_card {
  box-shadow: rgba(2, 58, 102, 0.7) 0px 10px 30px -15px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  position: relative;
  padding: 2rem 1.75rem;
  height: 100%;
  border-radius: 3px;
  background-color: var(--black_light);
  overflow-wrap: break-word;
  border-radius: 15px;
}

.project_card:hover {
  opacity: 0.8;
  transform: translate(0px, -7px);
}

.project_header {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: left;
}

.project_name {
  font-size: 25px;
}

.project_description {
  font-size: 15px;
}

.project_footer {
  display: flex;
  gap: 20px;
  width: 100%;
  font-size: 12px;
}
