#Footer {
  width: 100%;
  height: 130px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.footer_container {
  --gap: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  column-gap: var(--gap);
}

.contact_me {
  font-size: 1.3rem;
}

.inputs_container {
  display: flex;
  column-gap: var(--gap);
}

.form {
  --width-of-input: 200px;
  --border-height: 1px;
  --border-before-color: rgba(221, 221, 221, 0.39);
  --border-after-color: #5891ff;
  --input-hovered-color: #4985e01f;
  position: relative;
  width: var(--width-of-input);
}
/* styling of Input */
.input {
  color: #fff;
  font-size: 0.9rem;
  background-color: transparent;
  width: 100%;
  box-sizing: border-box;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
  border-bottom: var(--border-height) solid var(--border-before-color);
}
/* styling of animated border */
.input-border {
  position: absolute;
  background: var(--border-after-color);
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  transition: 0.3s;
}
/* Hover on Input */
input:hover {
  background: var(--input-hovered-color);
}

input:focus {
  outline: none;
}
/* here is code of animated border */
input:focus ~ .input-border {
  width: 100%;
}

.btn_send {
  --color: #5891ff;
  width: 80px;
  border-radius: 5px;
  background: var(--color);
  color: white;
  border: 3px solid transparent;
  font-weight: 700;
  font-size: 1.2rem;
  transition: 400ms;
  padding-inline: 15px;
  cursor: pointer;
}

.disable {
  background: #444343;
  color: #747171;
  cursor: auto;
}

.btn_send:not(.disable):hover {
  background-color: white;
  border: 3px solid;
  color: var(--color);
}
