#Experience {
}

.experience_show {
  width: 100%;
  display: grid;
  grid-template-columns: 20% auto;
  align-items: center;
  height: 300px;
}

.company_container {
  display: flex;
  flex-direction: column;
}

.selected {
  border-right: 2px solid var(--orange) !important;
  color: var(--orange) !important;
}

.company {
  border-right: 2px solid var(--grey);
  cursor: pointer;
  padding-block: 5px;
  font-size: 1.3rem;
  transition: all 0.3s ease;
}

.company:hover {
  border-right: 2px solid rgb(148, 148, 148);
}

.job_container {
  width: 100%;
  display: flex;
  justify-content: center;
}
