:root {
  --title-font-family: "Lobster", sans-serif;
  --text-font-family: "Saira", sans-serif;
  font-family: var(--text-font-family);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--white);

  background: linear-gradient(to bottom, #284064 20%, #08023b);
}
