#About {
}

.about_inner_content {
  display: flex;
  align-items: center;
  column-gap: 100px;
}

.aboutMe-text {
  font-size: 1.3rem;
  text-align: left;
}

.about_inner_content img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
}

.img_border {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid var(--orange);
  padding: 4px;
  border-radius: 50%;
  z-index: 10;
}
